
/* mettiamo ora la nostra variabile globale CSS */

:root {
    --colore-principale: lightblue;
    --colore-secondario: white;
    --colore-terziario: lightpink;
    --colore-quaternario: lightgreen;
    --colore-testo: #333;
    --spaziatura: 10px;
}

mettiamo ora lo stile generale

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--colore-secondario);
    color: var(--colore-testo);
}

header {
    background-color: var(--colore-principale);
    padding: var(--spaziatura);
    text-align: center;
    color: white;
}



nav a {
    color: var(--colore-testo);
    font-weight: bold;

}

.gusti {
    padding: var(--spaziatura);
    text-align: center;
    color: var(--colore-testo);
}

.lista-gusti {
    
    background-color: var(--colore-terziario);


}

.gusto {
    padding: var(--spaziatura);
}

/* aggiungiamo ora la transizione */
.card-promozionale {
    position: relative;
    background-color: var(--colore-principale);
    color: var(--colore-testo);
    width: 500px;
    height: 300px;
    padding: var(--spaziatura);
    text-align: center;
    transition: transform 0.5s;
    animation: cambioColore 3s infinite;

}

@keyframes cambioColore {
0% {
background-color: var(--colore-principale);
}

50% {
background-color: var(--colore-terziario);
}

100% {
background-color: var(--colore-principale);
}
}

.card-promozionale:hover {
    transform: scale(1.1);
    color: var(--colore-testo);
}

.card-promozionale::before {
    content: "★ OFFERTA ★";
    position:absolute;
    
    left: 5px;
    background-color: white;
    color: var(--colore-principale);
    padding:var(--spaziatura);

}

button{
    background-color: var(--colore-principale);
    color: var(--colore-testo);
    border: 1px solid black;
    padding: var(--spaziatura);
    cursor: pointer;
}

footer {
    background-color: var(--colore-principale);
    padding: var(--spaziatura);
    text-align: center;
    color: var(--colore-testo);
}

/* ora scriviamo l'elemento nascosto con display e visibility */
.box2 {
    visibility: hidden;
    background-color: lightgreen;
}

/* questo invece è l'elemento rimosso con display none  */
.box3 {
    display: none;
    background-color: coral;
}


